extends layout

block content
	.set-task-state
		h3
			span (#{task.UserStory.Id}) 
			span= task.Name
		form( method='post')
			button.btn.btn-white(value="50" name="state" class="#{task.EntityState.Name == 'To Do' ? 'active' : ''}") To Do
			button.btn.btn-white(value="51" name="state" class="#{task.EntityState.Name == 'Doing' ? 'active' : ''}") Doing
			button.btn.btn-white(value="52" name="state" class="#{task.EntityState.Name == 'Done' ? 'active' : ''}") Done
