extends layout

block content
	ul.tasks
		each task in story.Tasks.Items
			li.card.task
				a(href="/sprints/#{story.Iteration.Id}/stories/#{story.Id}/tasks/#{task.Id}")
					span.id= story.Id
					img(src="https://api.qrserver.com/v1/create-qr-code/?size=100x100&data=htt")
					span.title= task.Name
