extends layout

block content
	each story in stories
		each task in story.Tasks.Items
			ul.tasks
					each story in stories
							each task in story.Tasks.Items
									li.card.task
											a(href="/sprints/#{story.Iteration.Id}/stories/#{story.Id}/tasks/#{task.Id}")
												span.id= story.Id
												img(src="https://api.qrserver.com/v1/create-qr-code/?size=100x100&data=http")
												span.title= task.Name
													





													//- img.pull-left(src="https://api.qrserver.com/v1/create-qr-code/?size=100x100&data=http://bb.6fstudios.com/sprints/#{story.Iteration.Id}/stories/#{story.Id}/tasks/#{task.Id}")
